body{
	background-color: black;
}
@font-face {
    font-family: ryuFont;
    src: url('../fonts/KOMIKAX_.ttf');
}
.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.instructions{
	font-family: ryuFont;
	font-size: 28px;
	color: black;
	text-align: center;
	display: block;
	position: absolute;
	left: 800px;
	width: 600px;
	z-index: -9999;
}
.instructions p {
	width: 50%;
	line-height: 45px;
}
.instructions p + p {
	margin-left: 275px;
}
.ryu{
	float: left;
	width: 659px;
	height: 494px;
	display: inline-block;
}
.ryu-ready, .ryu-still, .ryu-throwing{
	width: 659px;
	height:494px;
}
.ryu-ready, .ryu-throwing{
	display: none;
}
.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing{
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-still{
	background-image: url('../images/ryu-standing-still.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing{
	background-repeat: no-repeat;
}
.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	left: 628px;
	top: 171px;
}