body{
	background-color: black;
}
@font-face {
    font-family: ryuFont;
    src: url('../fonts/KOMIKAX_.ttf');
}
.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 80px;
	min-width: 1200px;
	height: 500px;
	position: relative;
}
.instructions{
	font-size: 28px;
	color: black;
}
.instructions p {
	width: 50%;
	line-height: 45px;
}
.instructions p + p {
	margin-left: 275px;
}
.ryu{
	float: left;
	width: 659px;
	height: 494px;
	display: inline-block;
}
.ryu-ready, .ryu-still, .ryu-throwing{
	width: 659px;
	height:494px;
}
.ryu-ready, .ryu-throwing{
	display: none;
}
.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing{
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-still{
	background-image: url('../images/ryu-standing-still.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing{
	background-repeat: no-repeat;
}
.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	left: 628px;
	top: 171px;
}
.sf-logo{
	background-image: url('../images/SF_logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 620px;
	height: 354px;
	display: none;
}
.jquery-logo{
	background-image: url('../images/jQuery_logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 600px;
	height: 300px;
	display: none;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
.brought-by{
	color: red;
	font-size: 60px;
	margin-top: 30px;
}
.text-content{
	position: absolute;
	left: 620px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}
.instructions, .brought-by{
	display: none;
	text-align: center;
	font-family: ryuFont;
}